<head>
    <title>dashboard</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link href="css/regestrationchart.css" rel="stylesheet" />
  </head>
  <body>
    <div class="chart-container">
      <canvas id="registrationchart"> </canvas>
    </div>
<script>
const ctx = document.getElementById('registrationchart');
const myregistrationChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July' , 'August' , 'September','October','November','December'],
    datasets: [{
      label: 'Registered Users',
      data: [0,100,200,340,200,500,300,700,800,900,100,550], // Todo countDocuments in lerner schema in the DB use mongooes query 
      borderColor: '#AFEEEE',
      backgroundColor: '#87CEEB',

    }]
  },
  options: {
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
});
</script>
</body>
 