
<!-- <nav class="navbar-fixed-top">
  <div class="container-fluid navbar">

    <div class="navbar-section" >
      <img  src="/images/comma-logo.png" class="commaLogo"> -->
      <!-- <a href="/">Comma</a> -->
    <!-- </div> -->
    <!--Search bar -->
    <!-- <div class="search-box navbar-section">
      <form action="/search" method="POST">
        <button class="btn-search"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg></i></button>
        <input type="text" name="searchText" class="input-search" placeholder="Type to Search...">
      </form>
    </div>
    <div class="navbar-section" id="login">
      <a class="btn btn-outline-primary btn-hire-me" href="/login">Log in</a>
    </div>
  </div>

</nav> -->

<nav class="navbar ">
  <div class="container-fluid">
    <img  src="/images/comma-logo.png" class="commaLogo">
    <a id="profileLoginSignup" href="/login"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="30" height="20"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
    </a>
    <div class="formSearchDIV">
    <form action="/search" method="POST" class="formSearch">
      <button class="btn-search">
        <svg class="Svg-search" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
        </svg></i></button>
      <input type="text" name="searchText" class="input-search formSearchInput" placeholder="Type to Search...">
    </form>
  </div>
  </div>
</nav>