
  <!-- Modal -->
  <div class="modal fade" id="admin-accounts-edit-modal" tabindex="-1" aria-labelledby="AdminCccountsEditModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content bg-white">
        <div class="modal-header bg-white">
          <h1 class="modal-title fs-5" id="admin-accounts-edit-modal-label">Edit Admin Account</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <ul class="nav nav-tabs bg-white" id="admineditmodaltab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active bg-white" id="basic-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Basic</button>
                </li>
              </ul>
              <div class="tab-content bg-white" id="myTabContent">
                <form id="admin-accounts-edit-form" method="POST" action="update-admins-data">
                    <div class="mb-3">
                      <label for="adminAccountsEditModalFirstName" class="form-label">First Name</label>
                      <div class="input-group mb-3">
                        <div class="input-group-text rounded-5">
                            <div class="edit-checkbox-disable">
                                <label class="edit-checkbox-disable-switch">
                                  <input type="checkbox" class="admin-edit-input-disable form-check-input mt-0" value="">
                                  <span class="edit-checkbox-slider"></span>
                                </label>
                            </div>
                        </div>
                        <input id="adminAccountsEditModalFirstName" type="text" class="form-control admin-edit-input-disable-input rounded-5" disabled value="First Name" name="firstname">
                      </div>
                      <div id="adminAccountsEditModalFirstNameLabel" class="form-text">Click to Edit First Name</div>
                    </div>
                    <div class="mb-3">
                        <label for="adminAccountsEditModalLastName" class="form-label">Last Name</label>
                        <div class="input-group mb-3">
                            <div class="input-group-text rounded-5">
                                <div class="edit-checkbox-disable">
                                    <label class="edit-checkbox-disable-switch">
                                      <input type="checkbox" class="admin-edit-input-disable form-check-input mt-0" value="">
                                      <span class="edit-checkbox-slider"></span>
                                    </label>
                                </div>
                            </div>
                            <input id="adminAccountsEditModalLastName" type="text" class="form-control admin-edit-input-disable-input rounded-5" disabled value="Last Name" name="lastname">
                          </div>
                        <div id="adminAccountsEditModalLastNameLabel" class="form-text">Click to Edit Last Name</div>
                      </div>
                      <div class="mb-3">
                        <label for="adminAccountsEditModalEmail" class="form-label">Email address</label>
                        <div class="input-group mb-3">
                            <div class="input-group-text rounded-5">
                                <div class="edit-checkbox-disable">
                                    <label class="edit-checkbox-disable-switch">
                                      <input type="checkbox" class="admin-edit-input-disable form-check-input mt-0" value="">
                                      <span class="edit-checkbox-slider"></span>
                                    </label>
                                </div>
                            </div>
                            <input id="adminAccountsEditModalEmail" type="text" class="form-control admin-edit-input-disable-input rounded-5" disabled value="Email address" name="email" >
                          </div>
                        <div id="adminAccountsEditModalEmailLabel" class="form-text">Click to Edit Email</div>
                      </div>
                    <div class="mb-3">
                        <label for="adminAccountsEditModalPassword" class="form-label">Password</label>
                      <div class="input-group mb-3">
                        <div class="input-group-text rounded-5">
                            <div class="edit-checkbox-disable">
                                <label class="edit-checkbox-disable-switch">
                                  <input type="checkbox" class="admin-edit-input-disable form-check-input mt-0" value="" onclick="editPasswordToggleVisible()">
                                  <span class="edit-checkbox-slider"></span>
                                </label>
                            </div>
                        </div>
                        <input id="adminAccountsEditModalPassword" type="password" class="form-control admin-edit-input-disable-input rounded-5" disabled value="Password" name="password">
                      </div>
                      <div id="adminAccountsEditModalPasswordLabel" class="form-text">Click to Edit Password</div>
                    </div>
                    <input type="hidden" id="old-email-holder-admins" name="targetEmail" >
                  </form>
              </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="edit-button-datatable text-nowrap" data-bs-dismiss="modal">Cancel</button>
            <input type="submit" id="edit-account-save-button" form="admin-accounts-edit-form" value="Save Changes"class="edit-button-datatable text-nowrap"/>
        </div>
      </div>
    </div>
  </div>
  <style>
    .admin-edit-input-disable-input:disabled{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-color: #ffffff;
    border-color: #000000;
    }
    .admin-edit-input-disable-input{
        border-color: #5e5df0;
        border-width: 2px;
    }
    .admin-edit-input-disable-input:focus{
        outline: 2px solid #5e5df0;
        box-shadow: none;
    }
    #admineditmodaltab > li > button{
    background-color: #5e5df0 !important;
    color:white;
    border-radius: 5px;
    }
    .input-group-text{
    background-color: #5d5df000; 
    border: none;
    padding-left: 0px;
    }
    .modal-body{
    padding-left: 0.8rem; 
    }
  </style>
  <style>
    .edit-checkbox-disable input[type="checkbox"] {
      visibility: hidden;
      display: none;
    }
  
    .edit-checkbox-disable *,
    .edit-checkbox-disable ::after,
    .edit-checkbox-disable ::before {
      box-sizing: border-box;
    }
  
    /* The switch - the box around the edit-checkbox-slider */
    .edit-checkbox-disable .edit-checkbox-disable-switch {
      font-size: 1rem;
      position: relative;
      display: inline-block;
      width: 4em;
      height: 2em;
    }
  
    /* The edit-checkbox-slider */
    .edit-checkbox-disable .edit-checkbox-slider {
      position: absolute;
      cursor: pointer;
      inset: 0;
      background-color: #eee;
      transition: 0.4s;
      border-radius: 0.5em;
      box-shadow: 0 0.2em #dfd9d9;
    }
  
    .edit-checkbox-disable .edit-checkbox-slider:before {
      position: absolute;
      content: "";
      height: 1.5em;
      width: 1.4em;
      border-radius: 0.3em;
      left: 0.3em;
      bottom: 0.7em;
      background-color: lightsalmon;
      transition: 0.4s;
      box-shadow: 0 0.4em #bcb4b4;
    }
  
    .edit-checkbox-disable .edit-checkbox-slider:hover::before {
      box-shadow: 0 0.2em #bcb4b4;
      bottom: 0.5em;
    }
  
    .edit-checkbox-disable input:checked + .edit-checkbox-slider::before {
      transform: translateX(2em);
      background: lightgreen;
    }
  </style>
  
  <script>
// ------------ Checkbox Edit Password --------------------------------------
// Get all the checkboxes with class 'password-checkbox'
const checkboxes = document.querySelectorAll('.admin-edit-input-disable');

// Loop through all the checkboxes
checkboxes.forEach(function(checkbox) {
  // Add a click event listener to each checkbox
  checkbox.addEventListener('click', function() {
    // Get the corresponding password input
    const input = this.parentNode.parentNode.parentNode.parentNode.querySelector('.admin-edit-input-disable-input');
    // Enable or disable the input based on whether the checkbox is checked or not
    input.disabled = !this.checked;
  });
});
// ------------ Checkbox Edit Password --------------------------------------
// ------------ Password Visibility -----------------------------------------
function editPasswordToggleVisible() {
  var x = document.getElementById("adminAccountsEditModalPassword");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
// ------------ Password Visibility -----------------------------------------
// ------------ Send Data to Server -----------------------------------------
document.addEventListener('click', (e) => {
  if (e.target && e.target.classList.contains('edit-button-modal-opener')) {
    const email = e.target.getAttribute('data-email')
    const oldEmailElement = document.getElementById("old-email-holder-admins")
    oldEmailElement.value = email
  }
})

const formElement = document.querySelector("#admin-accounts-edit-form")

formElement.addEventListener('submit',event => {
  event.preventDefault();

  const formData = new FormData(formElement);
const jsonObject = {};

Array.from(formData.entries()).forEach(([key, value]) => {
  jsonObject[key] = value;
});

const data = JSON.stringify(jsonObject);
  fetch('/dashboard/update-admins-data',{
    method:"POST",
    headers:{
      'Content-Type':'application/json'
    },
    body:data
  }).then(res => res.json())
    .then(data => console.log(data))
    .catch(error =>console.log(error))
})
// ------------ Send Data to Server -----------------------------------------
  </script>