<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!--form-->
        <div class="main-block">
          <div class="left-part">
            <i class="fas fa-envelope"></i>
            <i class="fas fa-at"></i>
            <i class="fas fa-mail-bulk"></i>
          </div>
          <form action="/dashboard/courses" method="POST">
            <h1 class="formH">Contact Us</h1>
            <div class="info">
              <input class="modalFormInput" type="text" name="title" placeholder="Course Title">
              <input type="text" class="modalFormInput" name="description" placeholder="Description">
            </div>
            <p class="formP">Outline</p>
            <div>
              <textarea rows="4" class="modalFormInput"></textarea>
            </div>
            <input type="submit" value="Submit">
            <!-- <button type="submit"  class="btn btn-primary">add</button> -->
          </form>
        </div>
        <!--form end-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<div class="col-md-6 col-xxl-4 d-flex order-2 order-xxl-4"></div>
<div class="card flex-fill w-100">
  <div class="px-4 pt-3">
    <h5 class="card-title mb-0">All Courses</h5>
  </div>
  <div class="px-4 pb-4 d-flex">
    <div class="align-self-center w-100">
      <div class="py-3">
        <div class="chart chart-xs">
          <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Add Course
          </button>
          <div id="courses-table"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const { h } = gridjs;
  // const coursesTableElement = document.getElementById('courses-table')
  // // let tableCoursesData = JSON.parse(coursesTableElement.dataset.courses)
  // let tableCoursesData = <%- JSON.stringify(data) %>;
  // alert(tableCoursesData);
  // tableCoursesData = tableCoursesData.map((course) => {
  //   return {
  //     ...course,
  //     percentage: course.percentage + ' %'
  //   }
  // });
//   const coursesData = <%= JSON.stringify(courses) %>;
// alert(coursesData);
//   (async () => {
//     new gridjs.Grid({
//       fixedHeader: true,
//       pagination: {
//         server: {
//           url: '/dashboard/courses',
//           then: (response) => ({
//             data: response.data.map((course) => [
//               course.title,
//               course.description,
//               course.createdAt,
//             ]),
//             total: response.totalPages * 16, // Assuming the limit is always 16
//           }),
//         },
//       },
//       sort: {
//         server: {
//           url: '/dashboard/courses',
//           query: (prev, column) => `sort=${column.id}&order=${prev.direction}`,
//           then: (response) => response.data,
//         },
//       },
//       columns: [
//         {
//           name: 'Title',
//           width: '180px'
//         },
//         {
//           name: 'enrolled',
//           width: '130px'
//         },
//         {
//           name: 'rating',
//           width: '130px'
//         },
//         {
//           name: 'stars',
//           width: '130px'
//         },
//         {
//           name: 'totalHours',
//           width: '130px'
//         },
//         {
//         name: 'Actions',
//         sort: false,
//       search: false,
//         resizable: true,
//         formatter: (cell, row) => {
//           const editBtn = h('button', 
//             {
//              style: 'padding: 0.5rem 1rem; margin-bottom: 0.5rem; border: none; border-radius: 0.25rem; background-color: #1E40AF; color: white; font-size: 1rem; font-weight: 500;',
//               onClick: () => {
//               const modalElement = document.getElementById('staticBackdrop');
//       const modalInstance = new bootstrap.Modal(modalElement);
//       modalInstance.show();
//               // alert(`Editing "${row.cells[0].data}" "${row.cells[1].data}"`)
//         }},  h('i', {className: 'fas fa-edit mr-2'}));

//           const deleteBtn = h('button', 
//             {
//               style: 'padding: 0.5rem 1rem; margin-bottom: 1rem; border: none; border-radius: 0.25rem; color: #fff; background-color: #f44336;color: white; font-size: 1rem; font-weight: 500',
              
//               onClick: () => 
//               alert(`Deleting "${row.cells[0].data}" "${row.cells[1].data}"`)
//             },h('i', {class: 'fas fa-trash mr-2'}));

//           return h('div', {}, editBtn, deleteBtn);
//         }
//       },

//         // * not implemented yet
//         // { name: 'Finished', width: '140px' }
//       ],
      
//       data: coursesData,
//     }).render(coursesTableElement)
//   })()
</script>
