<div class="col-md-6 col-xxl-4 d-flex order-2 order-xxl-4"></div>
<div class="card flex-fill w-100">
  <div class="px-4 pt-3">
    <h5 class="card-title mb-0">All learners</h5>
  </div>
  <div class="px-4 pb-4 d-flex">
    <div class="align-self-center w-100">
      <div class="py-3">
        <div class="chart chart-xs">
          <div id="learner-table"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script
src="https://cdn.jsdelivr.net/npm/gridjs@latest/dist/gridjs.production.min.js"></script>
<%- include('./learnereditmodal'); %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>

<script>

  const coursesTableElement = document.getElementById('learner-table')

  //get context array
  let newContext = <%- JSON.stringify(context)%>;

  // get data from context to display it in the table
  let data = newContext.learners[0]

  
  console.log("data : ")
  console.log(data)
  ;
  (async () => {
  const grid = new gridjs.Grid({
    sort: true,
      resizable: true,
      search: true,
      fixedHeader: true,
      pagination: {
        limit: 3
      },
    // ...
    columns: [
    { name: 'id', width: '180px' }, { name: 'firstname', width: '180px' },{ name: 'lastname', width: '180px' },
      { name: 'email', width: '140px' },
      { 
        name: 'status', 
        width: '140px',
        formatter: (cell) => {
          return cell === true ? 'Active' : 'Blocked';
        }
      },
      {
        name: 'Actions',
        with:"120px",
        formatter: (_, row) => {
          return gridjs.html(`
          <button style="padding: 0.5rem 1rem; margin-bottom: 0.3rem; border: none; border-radius: 0.25rem; background-color: #1E40AF; color: white; font-size: 1rem; font-weight: 500;" 
          id="edit-button" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal"
          onclick="setModalData('${row.cells[1].data}', '${row.cells[2].data}' ,'${row.cells[3].data}','${row.cells[0].data}')">
          Edit
        </button>


          <button style="padding: 0.5rem 1rem; margin-bottom: 1rem; border: none; border-radius: 0.25rem; color: #fff; background-color: #f44336;color: white; font-size: 1rem; font-weight: 500">
            Delete
          </button>
        `)


        }
      }
    ],
    data: data
  });

  grid.render(coursesTableElement);
})();

</script>
