<div>
    <div class="modal" tabindex="-1" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Enter Value</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <input type="text" id="inputField" placeholder="Enter Value Here" />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" id="saveButton">Save</button>
            </div>
          </div>
        </div>
      </div>
      <script>
      function showModal(email) {
    var modal = new bootstrap.Modal(document.getElementById('myModal'), {});
    modal.show();
  
    document.getElementById("saveButton").addEventListener("click", function() {
        var value = document.getElementById("inputField").value;
        console.log("Value entered: " + value);

        fetch('/', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ "condition": {"email":email} , "updatedata" : { "email" : value}})
        })
        .then(response => response.json())
        .then(response => console.log(JSON.stringify(response)))
      
        modal.hide();
    });
}
      </script>      
    <div id="wrapper"></div>
    <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
    <script>
        const data = <%- JSON.stringify(data.learners) %>;
        const grid = new gridjs.Grid({
            sort: true,
            width: 1000,
            resizable: true,
            search:true,
            fixedHeader: true,
            pagination: {
                limit: 10,
            },
            columns: ["Name", "Email", "Status",{name : "Action", formatter: (_, row) => gridjs.html(`<button type="button" class="edit-button" data-email="${row.cells[1].data}">Edit</button>`)}],
            data:data
        }).render(document.getElementById("wrapper"));


        document.addEventListener("click", (e) => {
            if (e.target && e.target.classList.contains("edit-button")) {
                const email = e.target.getAttribute("data-email");
                handleEdit(email);
            }
        });

        // function to handle edit operation
        function handleEdit(email) {
            showModal(email)
        }
            // do something with the email data
    </script>
    </div>
