<div>
  <dialog id="datatable-edit-success-alert" style="border: none; box-shadow: 5px 10px #6f00ff;
  border-radius: 8px;">
    <div class="h4">Changed Successfully</div>
  </dialog>
  <dialog id="datatable-edit-fail-alert" style="border: none; box-shadow: 5px 10px #6f00ff;
  border-radius: 8px;">
    <div class="h4">an error occurred when trying to change data</div>
  </dialog>
    <div>
      <dialog class="datatable-edit-modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header mb-2">
              <div class="h4">Enter New Email</div>
            </div>
            <div class="modal-body mb-1">
              <input type="text" id="inputField-email-datatable" placeholder="Enter Value Here" />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary"  id="datatable-cancel-edit-button">Cancel</button>
              <button type="button" class="btn btn-primary" id="datatable-save-edit-button">Save</button>
            </div>
          </div>
        </div>
      </dialog>
    </div>
       <div class="col-6">
        <h3>Users</h3>
    <div id="datatable-users-table"></div>
      </div> 
    <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
    <script src="js/dashboard/userstable.js"></script>
    </div>