


<div class=" card border-primary mb-3 admincard" >
    <div class="row">
        <div class="col mt-0">
    <div class="card-header h4">Number of courses</div>
    <div class="card-body text-primary">
      <h5 class="card-title "> <%=analytics.NoOfCourses%> </h5>
    </div>
    </div>
    </div>
    <div class=" card border-primary mb-3 admincard" >
      <div class="row">
          <div class="col mt-0">
      <div class="card-header h4">Number of Usere</div>
      <div class="card-body text-primary">
        <h5 class="card-title "> <%=analytics.NoOflearner%> </h5>
      </div>
      </div>
      </div>
      <div class=" card border-primary mb-3 admincard " >
        <div class="row">
            <div class="col mt-0">
        <div class="card-header h4">Number of Usere</div>
        <div class="card-body text-primary">
          <h5 class="card-title "> <%=analytics.TotalEnrolledUserCount%> </h5>
        </div>
        </div>
        </div>
  
  

