<div class="col-12 col-md-6 col-xxl-4 d-flex order-2 order-xxl-4">
  <div class="card flex-fill w-100">
    <div class="card-header">
      <h5 class="card-title mb-0">Top Popular Courses</h5>
    </div>
    <div class="card-body d-flex">
      <div class="align-self-center w-100">
        <div class="py-3">
          <div class="chart chart-xs">
            <canvas id="popular-courses-pie" data-courses=<%= analytics.popularCoursesData %> ></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const pieElement = document.getElementById('popular-courses-pie')
  const popularCoursesData = JSON.parse(pieElement.dataset.courses)
  
  ;(async () => {
    new Chart(pieElement, {
      type: 'pie',
      data: {
        labels: popularCoursesData.map((course) => course.title),
        datasets: [
          // * this can be toggled to show different data points
          // {
          //   label: ' Views',
          //   data: popularCoursesData.map((course) => course.views)
          // },
          {
            label: ' %',
            data: popularCoursesData.map((course) => course.percentage)
          },
        ]
      }
    })
  })()
</script>