<div class="col-4">
<canvas id="registrationlinechart"> </canvas>
</div>
<script>
const NoOfMonthlyRegistration = <%-JSON.stringify(analytics.NoOfMonthlyRegistration)%>;
const months = NoOfMonthlyRegistration.map((item) => item._id); 
const counts = NoOfMonthlyRegistration.map((item) => item.count);
  const rlc = document.getElementById('registrationlinechart')
  const myregistrationChart = new Chart(rlc, {
    type: 'line',
    data: {
      labels:months ,
      datasets: [
        {
          label: 'Registered Users',
          data: counts, 
          borderColor: '#AFEEEE',
          backgroundColor: '#87CEEB',
          borderWidth: 3
        }
      ]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      },
      elements: {
        line: {
          tension: 1, // Set the line to be straight
          borderWidth: 2, // Set the line width to be 2 pixels
          borderCapStyle: 'round' // Set the line caps to be rounded
        }
      }
    }
  })
</script>
