<div class="courses-container">
    
    <div class="course-4cards-row">
<%- include('CourseCard',{pageCourses:pageCourses }); %>
</div>

    <div class="courses-page-pagination">
    <%- include('pagination'); %>
   </div>
</div>