<div class="courses-container">
    <div class="course-4cards-row">
<%- include('CourseCard',{ coursesNames: coursesNames },{courseIMG:courseIMG}); %>
</div>

<div class="course-4cards-row">
    <%- include('CourseCard',{ coursesNames: coursesNames },{courseIMG:courseIMG}); %>
    </div>

    <div class="courses-page-pagination">
    <%- include('pagination'); %>
   </div>
</div>