<div>
      <div class="blackLayer">
    <img src="/images/coursesPageIMG.jpg" alt="My Image" class="myIMG">
    </div>
          <h5 class="topIMG"> Learn New Skills Online With COMMA !!</h5>
    </div>