<%- include('partials/header'); %>

<h1>Welcome user</h1>

<%- include('partials/slider', { typeofTop:topTenRatedCourses,swiperTitle:'Top 10 Rated Courses' }); %>

<%- include('partials/slider', { typeofTop:topTenEnrolledCourses,swiperTitle:'Top 10 Enrollment Courses' }); %>


<%- include('partials/footer') %>

