<%- include('partials/header'); %>

<div id="container">

    <div id="wrapper">
        <div id="content">
            <h5 id="learn">About this Specialization</h5>
            <p id="des">
                Interested in learning more about data science, but don’t know where to start? This 4-course Specialization from IBM will provide you with the key foundational skills any data scientist needs to prepare you for a career in data science or further advanced learning in the field.<br> <br> 
                This Specialization will introduce you to what data science is and what data scientists do. You’ll discover the applicability of data science across fields, and learn how data analysis can help you make data driven decisions. You’ll find that you can kickstart your career path in the field without prior knowledge of computer science or programming languages: this Specialization will give you the foundation you need for more advanced learning to support your career goals.
            </p>
            <div class="description">
             <h5 id="learn">WHAT YOU WILL LEARN</h5>

             <ul id="list">
                <li id="list-learn"> <svg id="check" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16" >
                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                  </svg>
                    Describe what data science and machine learning are, their applications & use cases, and various types of tasks performed by data scientists </li>
                <li id="list-learn"><svg id="check" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16" >
                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                  </svg>
                    Gain hands-on familiarity with common data science tools including JupyterLab, R Studio, GitHub and Watson Studio </li>
                <li id="list-learn"><svg id="check" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16" >
                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                  </svg>
                    Develop the mindset to work like a data scientist, and follow a methodology to tackle different types of data science problems</li>
                <li id="list-learn"><svg id="check" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16" >
                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                  </svg>
                    Write SQL statements and query Cloud databases using Python from Jupyter notebooks</li>
              </ul>
       
            
        </div>
           
        </div>
        <div class="outline">
       <h4 id="outline"> Outline Course</h4>
            <ol>
                <li class="li-outline">Introduction to data analysis tools in Python</li>
                <li class="li-outline"> Descriptive statistics</li>
                <li class="li-outline">Data structures with Pandas</li>
                <li class="li-outline">ntroductory hypothesis testing and statistical inference</li>
                <li class="li-outline">Data visualization</li>
                <li class="li-outline">Cleaning and reformatting messy datasets using regular expressions or dedicated tools such as open refine</li>
                <li class="li-outline">Natural language processing</li>
                <li class="li-outline">Ethics of big data</li>
            </ol>
    </div>
    </div>
   
    <div class="card">
    <div id="card-enroll">
        <div class="card border-info mb-4">
            <div class="card-header">
                <div>
                <h2 id="course-name">Introduction to Data Science</h2>
                <div class="title">Launch your career in data science. Gain foundational data science skills to prepare for a career or further advanced learning in data science.</div>
            </div></div>
            
            <div class="card-body">
                    <div class="rating">
                        <div id="num">4.5</div>

                      <div class="stars">
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9734;</span>
                      </div>
                    <p class="reviews">(157,849 reviews)</p>
                    </div>
                    <div class="enroll">
                    
                    <button type="button" class="btn btn-primary">Enroll</button>
                    <span class="num-enroll"> 
                        <strong>76,869</strong>
                        already enrolled
                    </span>
                </div>
                </div>
            </div>     
    
    </div>
    </div>
</div>
<script type="text/javascript">AddFillerLink("content", "navigation", "extra")</script>
<%- include('partials/footer'); %>