<%- include('partials/header', { title: 'Sign Up' }); %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="login-box bg-light rounded p-4 shadow">
        <div class="text-center mb-4">
          <h2>Sign Up</h2>
        </div>        
        <% if (error) { %>
          <div class="alert alert-danger" role="alert" id="signup-error">
            <%= error %>
          </div>
        <% } %>
        <form action="/signup" method="POST" >
          <div class="form-floating mb-3">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter your First Name" />
          </div>
          <div class="form-floating mb-3">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter your Last Name" />
          </div>
          <div class="form-floating mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" />
          </div>
          <div class="form-floating mb-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" />
          </div>
          <div class="form-floating mb-3">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password" />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Sign Up
          </button>
        </form>
        <p class="text-center mt-3">
          Already have an account? <a href="/login">Login here</a>
        </p>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer'); %>