<div class="sort-bar">
  <span class="sort-label">Sort by:</span>
  <div class="dropdown">
    <button class="dropbtn">Title ▼</button>
    <div class="dropdown-content">
      <a href="#">A...z</a>
      <a href="#">Z...A</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Date ▼</button>
    <div class="dropdown-content">
      <a href="#">2021</a>
      <a href="#">2022</a>
      <a href="#">2023</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Topic ▼</button>
    <div class="dropdown-content">
      <a href="#">Wed Development</a>
      <a href="#">Data Science</a>
    </div>
  </div>
</div>