   <form>
     <div class="container sortingContainer">
       <div class="sortTitle">
         <h5>Sort by </h5>
       </div>
       <div class="dropDownSort">
         <select class="form-control" name="dropdown">
           <option value="2020">Topic ▼</option>
           <option value="Web Dev">Web Dev</option>
           <option value="Data Science">Data Science</option>
         </select>
       </div>

       <div class="dropDownSort">
         <select class="form-control" name="dropdown">
           <option value="2020">Date ▼</option>
           <option value="2020">2020</option>
           <option value="2022">2022</option>
           <option value="2023">2023</option>
         </select>
       </div>

       <div class="dropDownSort">
         <select class="form-control" name="dropdown">
           <option value="5">Rating ▼</option>
           <option value="5">5to 4</option>
           <option value="3to2">3to2</option>
         </select>
       </div>
     </div>
   </form>