   <form>
     <div class="container sortingContainer">
       <div class="sortTitle">
         <h5>Sort by </h5>
       </div>
       <div class="dropDownSort">
         <select class="form-control" name="dropdown">
           <option value="2020">Topic</option>
         </select>
       </div>

       <div class="dropDownSort">
         <select class="form-control" name="dropdown">
           <option value="2020">Date </option>
         </select>
       </div>

       <div class="dropDownSort">
         <select class="form-control" name="dropdown">
           <option value="5">Rating </option>
         </select>
       </div>
     </div>
   </form>