<button id="show-dropdowns-btn" class="filterBTN">Filter</button>
<form action="/courses" method="POST">
  <div class="container FilterContainer" style="display:none;">
    <div class="row FilerRow">

   
      <select class="selectFilter"  name="searchQuery" >
        <option value="" >rating</option>
        <option value="Asc" name="sortOrder">Asc</option>
        <option value="Desc" name="sortOrder">Desc</option>
      </select>
     
      <select class="selectFilter"  name="searchQuery">
        <option value="">enrollment</option>
        <option value="Asc" name="sortOrder">Asc</option>
        <option value="Desc" name="sortOrder">Desc</option>
      </select>


      <div class="selectFilter">
        <input type="text" class="form-control" id="search-input" aria-label="Text input with dropdown button" placeholder="Search by Topic" name="searchQuery">
      </div>

      <div class="selectFilter">
        <input type="text" class="form-control" id="search-input" aria-label="Text input with dropdown button" placeholder="Search by Tag" name="searchQuery">
      </div>

      <input type="submit"  value="submit"  class="form-control submitSort">
    </div>
  </div>
</form>
<script>
  var container = document.querySelector('.FilterContainer');

  document.getElementById('show-dropdowns-btn').addEventListener('click', function() {
    container.style.display = container.style.display === 'none' ? 'block' : 'none';
  });
</script>
