   <form action="/courses" method="POST">
     <div class="container sortingContainer">

         <div class="input-group mb-3">
          <button class="btn btn-outline-secondary dropdown-toggle sortBy" type="button" data-bs-toggle="dropdown" aria-expanded="false">Sort By</button>
          <ul class="dropdown-menu">
            <li> <option class="dropdown-item"data-value="tag">Tag</option></li>
            <li> <option class="dropdown-item"data-value="topic">Topic</option></li>
            <li> <option class="dropdown-item"data-value="date">Date</option></li>
            <li> <option class="dropdown-item"data-value="stars">Rating</option></li>
            <li> <option class="dropdown-item" data-value="enrollment">Enrollment</option></li>
          </ul>
          <input type="text" class="form-control" id="search-input" aria-label="Text input with dropdown button" placeholder="Search" name="searchQuery">
          <div class="dropDownSort form-control" id="search-radio-rating">
            <label>Rating :</label>
              <input type="radio" value="ASC" name="sortOrder">
              <label>ASC</label>
              <input type="radio" value="DESC" name="sortOrder">
              <label>DESC</label>
           </div>

           
           <div class="dropDownSort form-control" id="search-radio-enr">
            <label>Enrollment :</label>
            <input type="radio" value="ASC" name="sortOrder">
            <label>ASC</label>
            <input type="radio" value="DESC" name="sortOrder">
            <label>DESC</label>
           </div> 
           
        </div>
       <button type="submit" class="form-control submitSort">Submit</button> 
     </div>
   </form>

   <script>
    // Get the dropdown menu and search input elements
    const dropdownMenu = document.querySelector('.dropdown-menu');
    const searchInput = document.querySelector('#search-input');
    const searchRadioRating = document.querySelector('#search-radio-rating');
    const searchRadioEnr = document.querySelector('#search-radio-enr');

    // Add a click event listener to the dropdown menu
    dropdownMenu.addEventListener('click', function(event) {
      // Check if the clicked item is one of the dropdown items
      if (event.target.classList.contains('dropdown-item')) {
        // Get the value of the clicked item's data-value attribute
        const value = event.target.getAttribute('data-value');
  
      if (value === 'stars') {
        searchRadioRating.style.display ='block';
      searchInput.style.display ='none';
    } else if (value === 'topic' || value === 'tag'||value === 'date') {
      searchRadioRating.style.display ='none';
      searchInput.style.display ='block';
    }else if (value === 'enrollment') {
      searchInput.style.display ='none';
      searchRadioEnr.style.display ='block';
    } else {
      searchRadioRating.style.display ='none';
      searchInput.style.display ='none';
    }
        

      }
    });
  </script>