<%- include('../partials/home/header') %>

  <link rel="stylesheet" href="/path/to/gridjs-style.css">


<div class="col-md-6 col-xxl-4 d-flex order-2 order-xxl-4"></div>
<div class="card flex-fill w-100">
  <div class="px-4 pt-3">
    <h5 class="card-title mb-0">All Courses</h5>
  </div>
  <div class="px-4 pb-4 d-flex">
    <div class="align-self-center w-100">
      <div class="py-3">
        <div class="chart chart-xs">
         
          <div id="courses-table"></div>
        </div>
      </div>
    </div>
  </div>

  <script
    src="https://cdn.jsdelivr.net/npm/gridjs@latest/dist/gridjs.production.min.js"></script>
  

<script src="https://cdn.jsdelivr.net/npm/gridjs@latest/dist/gridjs.production.min.js"></script>
<script>
console.log("dfgd");
let learnersArray1 = <%- JSON.stringify(context) %>;
console.log(learnersArray1.learners);

new gridjs.Grid({
  sort: true,
  resizable: true,
  search: true,
  fixedHeader: true,
  pagination: {
    limit: 2
  },
  columns: [
  {
    name: 'Name',
    width: '180px'
  },
  {
    name: 'Email',
    width: '130px'
  },
  {
    name: 'Status',
    width: '130px'
  }
],
  data:  [
  ['Sadasd', 'asd1@gmail.com', "false"],
  ['Ahmad', 'ahmad@ahmad.com', "false"]
],
  storage: false // explicitly disable the storage
}).render(document.getElementById('wrapper'));
let save=document.getElementById('save-update');
let firstName = document.getElementById('first-name');
let lastName = document.getElementById('last-name');
let email = document.getElementById('email');
function editProfile(){
  const email1 = document.getElementById('save-update').dataset.email;
  email.value=email1;
}
function updateProfile() {
  const email1 = document.getElementById('save-update').dataset.email;
  console.log(email1);
}
function clearInputs() {
  const firstName = document.getElementById('first-name');
  const lastName = document.getElementById('last-name');
  const email = document.getElementById('email');
  const firstNameLabel = firstName.previousElementSibling;
  const lastNameLabel = lastName.previousElementSibling;
  const emailLabel = email.previousElementSibling;
  const firstNamePencil = document.getElementById('pencil-first-name');
  const lastNamePencil = document.getElementById('pencil-last-name');
  const emailPencil = document.getElementById('pencil-email');
  firstName.classList.add('d-none');
  lastName.classList.add('d-none');
  email.classList.add('d-none');
  firstNameLabel.classList.remove('d-none');
  lastNameLabel.classList.remove('d-none');
  emailLabel.classList.remove('d-none');
  firstNamePencil.classList.remove('d-none');
  lastNamePencil.classList.remove('d-none');
  emailPencil.classList.remove('d-none');
}
function editField(id) {
  const fieldSpan = document.getElementById(id).previousElementSibling;
  fieldSpan.classList.add('d-none');
  const input = document.getElementById(id);
  input.classList.remove('d-none');
  input.focus();
  input.select();
  const pencil = document.getElementById(`pencil-${id}`);
  pencil.classList.add('d-none');
}


  </script>
<%- include('../partials/home/footer'); %>

