<%- include('../partials/home/header'); %>

<link rel="stylesheet" href="/path/to/gridjs-style.css">

<div class="container">
  <div class="row">
    <div class="col">
      <div class="table-responsive gridjs-wrapper" id="grid"></div>
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/gridjs@latest/dist/gridjs.production.min.js"></script>
<script>



//function to update the Ids column after delete a row or any action the affected rows 
function updateIds(startIndex = 0) {
  const rows = document.querySelectorAll('#grid tbody tr');
  for (let i = startIndex; i < rows.length; i++) {
    const cells = rows[i].querySelectorAll('td');
    cells[0].innerHTML = i + 1;
  }
}

// get data from controller
let data = <%- JSON.stringify(learnerArray) %>; 
let data2 = data.map((arr, index) => {
  return [index + 1, ...arr];
});

new gridjs.Grid({
  columns: [
    { name: "ID", width: "10%" },
    { name: "First Name", width: "10%" },
    { name: "Email", width: "10%" },
    {
      name: "Password",
      width: "15%",
      header: (cell) => {
        cell.style.whiteSpace = "normal";
        return gridjs.html(`<div>${cell}</div>`);
      }
    },
    { name: "Status", width: "5%", formatter: (cell) => gridjs.html(`<div>${cell == 0 ? "Blocked" : "Active"}</div>`) },
    {
      name: "Actions",
      width: "50%",
      formatter: (_, row) => gridjs.html(`
        <div class="btn-toolbar justify-content-center flex-wrap d-flex">
          <div class="btn-group mx-2" role="group" style="width: 33.33%">
            <button type="button" class="btn btn-danger">Delete</button>
          </div>
          <div class="btn-group mx-2" role="group" style="width: 33.33%">
            <button type="button" class="btn btn-primary">Edit</button>
          </div>
          <div class="btn-group mx-2" role="group" style="width: 33.33%">
            <button type="button" class="btn btn-success">Save</button>
          </div>
        </div>
      `)
    }
  ],
  data: data2,
  sort: true,
  style: {
    table: {
      borderCollapse: "collapse",
      width: "100%",
      border: "1px solid #dee2e6"
    },
    th: {
      backgroundColor: "#e9ecef",
      color: "#212529",
      fontWeight: "bold",
      textTransform: "uppercase",
      fontSize: "15px",
      borderBottom: "2px solid #dee2e6",
      padding: "5px",
      textAlign: "center"
    },
    td: {
      borderBottom: "1px solid #dee2e6",
      padding: "10px",
      textAlign: "center"
    }
  },
  
}).render(document.getElementById("grid"));

 


</script>

<%- include('../partials/home/footer'); %> 