<%- include('../partials/home/header'); %>

<link rel="stylesheet" href="/path/to/gridjs-style.css">

<div class="container">
  <div class="row">
    <div class="col">
      <div class="table-responsive gridjs-wrapper" id="grid"></div>
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/gridjs@latest/dist/gridjs.production.min.js"></script>
<script>



//function to update the Ids column after delete a row or any action the affected rows 
function updateIds(startIndex = 0) {
  const rows = document.querySelectorAll('#grid tbody tr');
  for (let i = startIndex; i < rows.length; i++) {
    const cells = rows[i].querySelectorAll('td');
    cells[0].innerHTML = i + 1;
  }
}

// get data from controller
let data = <%- JSON.stringify(learnerArray) %>; 

let data2 = data.map((arr, index) => {
  return [index + 1, ...arr];
});


console.log(data2)


for (let i = 0; i < data2.length; i++) {
  const status = data2[i][data2[i].length - 1];
  if (status) {
    data2[i][data2[i].length - 1] = 'Active';
  } else {
    data2[i][data2[i].length - 1] = 'Blocked';
  }
}

console.log(data2)




new gridjs.Grid({
  columns: [
    { name: "ID", width: "10%" },
    { name: "First Name", width: "15%" },
    { name: "Email", width: "15%" },
    {
      name: "Password",
      width: "10%",},
 
{ name: "Status",  width: "10%"},
  

    {
      name: "Actions",
      width: "100%",
      formatter: (_, row) => {
        const status = row.cells[4].data;
        return gridjs.html(`
          <div class="btn-toolbar justify-content-center flex-wrap d-flex">
            <div class="btn-group mx-2" role="group" style="width: 33.33%">
              <button type="button" class="btn ${status == "Blocked" ? 'btn-success' : 'btn-danger'}">
                ${status == "Blocked" ? 'Activate' : 'Delete'}
              </button>
            </div>
            <div class="btn-group mx-2" role="group" style="width: 33.33%">
              <button type="button" class="btn btn-primary edit-button">Edit</button>
            </div>
          </div>
        `)
      }
    }
  ],
  data: data2,
  sort: true,
  style: {
    table: {
      borderCollapse: "collapse",
      width: "100%",
      border: "1px solid #dee2e6"
    },
    th: {
      backgroundColor: "#e9ecef",
      color: "#212529",
      fontWeight: "bold",
      textTransform: "uppercase",
      fontSize: "15px",
      borderBottom: "2px solid #dee2e6",
      padding: "1px",
      textAlign: "center"
    },
    td: {
      borderBottom: "1px solid #dee2e6",
      padding: "1px",
      textAlign: "center"
    }
  },
}).render(document.getElementById("grid"));

</script>

<%- include('../partials/home/footer'); %> 